<link rel="stylesheet" href="../css/homepage.css">
<script src="../js/homepage.js"></script>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='adminHomePage.html'>Home</a></li>
   <li class='has-sub'><a href='#'>New Question</a>
      <ul>
         <li><a href='/singlequestion' id="single">Single Answer</a></li>
         <li><a href='/multiplequestion' id="multiple">Multiple Answer</a></li>
         <li><a href='/openquestion' id="open">Open Answer</a></li>
      </ul>
   </li>
   <li><a href='/quickquiz'>New Quiz</a></li>
   <li><a href='/quizcoursecatalogpage'>Quiz</a></li>
   <li><a href='/logout'>LogOut</a></li>
</ul>
</div>