
   <div class="container">
     <div class="col-md-8">
        <form class="form-horizontal" id="form" data-toggle="validator">
         <div class="form-group">
          <label class="control-label marginLabel" for="answerType">Subject:</label>
           <div class="btn-group" role="group" aria-2abel="...">
             <button type="button" class="btn btn-default sub"  id="chinese" value="Chinese">Chinese</button>
             <button type="button" class="btn btn-default sub"  id="english" value="English">English</button>
             <button type="button" class="btn btn-default sub"  id="math" value="Math">Math</button>
             <button type="button" class="btn btn-default sub"  id="other" value="Other">Other</button>
           </div>
        </div>
          <div class="input-group">
            <label class="control-label slidingLabel" for="subject"> Easy:</label>
            <input type="number" id="easy" min="0" max="10" value="0" required>
            <label class="control-label slidingLabel" for="subject"> Medium:</label>
            <input type="number" id="medium" min="0" max="10" value="0" required>
            <label class="control-label slidingLabel" for="subject"> Hard</label>
            <input type="number" id="difficult" min="0" max="10" value="0" required>
          </div>
          <div class="input-group">
            <label class="control-label slidingLabel" for="question">Random Question :</label>
            <input id="randomQuestion" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled">
          </div>
          <div class="input-group">
            <label class="control-label slidingLabel" for="question">Random Answer :</label>
            <input id="randomAnswer" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled">
          </div>
         <div class="input-group">
          <h4>A maximum of 10 questions each quiz.</h4>
         </div>

        <button type="submit" class="btn btn-info" id="submit">Submit</button>
        </form>
     </div>
   </div>