<!doctype html>
<html lang='en'>
<head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
        <link href="../css/question.css" rel="stylesheet">
        <title>Multiple Question Page</title>
</head>

	<% include ../partials/navbar.html %>'
	<div class="container">
		  	<div class="col-md-11">
			<form class="form-horizontal" id="form" data-toggle="validator">
				<div class="form-group">
					<label class="control-label col-sm-2" for="question">Question:</label>
					<div class="col-sm-9">          
						<input type="text" class="form-control" id="question" placeholder="put your question here" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="courseCode">Course:</label>
					<div class="btn-group" role="group" aria-label="...">
						<% for(var i=0; i<subject.length; i++) {%>
						<button type="button" class="btn btn-default"  value=<%= subject[i] %> id=<%= subject[i] %>> <%= subject[i] %></button>
						<% } %>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="questionDifficulty">Question Difficulty:</label>
					<button type="button" class="btn btn-primary colorBtn" value="Easy">Easy</button>
					<button type="button" class="btn btn-warning colorBtn" value="Medium">Medium</button>
					<button type="button" class="btn btn-danger colorBtn" value="Hard">Hard</button>
				</div>
				<hr/>
			

    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1">A1</span>
      <input type="text" class="form-control" aria-label="..." id="answerZero">
      <span class="input-group-addon">
        <input type="checkbox" class="sev_check" aria-label="..." value="Zero" id="Zero">
      </span>
      </div>

       <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1">A2</span>
      <input type="text" class="form-control" aria-label="..." id="answerOne">
      <span class="input-group-addon">
        <input type="checkbox" class="sev_check" aria-label="..." value="One" id="One">
      </span>
      </div>

        <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1">A3</span>
      <input type="text" class="form-control" aria-label="..." id="answerTwo">
      <span class="input-group-addon">
        <input type="checkbox" class="sev_check" aria-label="..." value="Two" id="Two">
      </span>
      </div>

       <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1">A4</span>
      <input type="text" class="form-control" aria-label="..." id="answerThree">
      <span class="input-group-addon">
        <input type="checkbox" class="sev_check" aria-label="..." value="Three" id="Three">
      </span>
      </div>

       <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1">A5</span>
      <input type="text" class="form-control" aria-label="..." id="answerFour">
      <span class="input-group-addon">
        <input type="checkbox" class="sev_check" aria-label="..." value="Four" id="Four">
      </span>
      </div>

        <div class="input-group">
      <span class="input-group-addon" id="sizing-addon1">A6</span>
      <input type="text" class="form-control" aria-label="..." id="answerFive">
      <span class="input-group-addon">
        <input type="checkbox" class="sev_check" aria-label="..." value="Five" id="Five">
      </span>
      </div>
        <div class="input-group">
          <h6>If you don't need 6 rows, leave it blank</h6>
        </div>

        <button type="submit" class="btn btn-info" id="submit">Submit</button>
			</form>
		  </div>
		</div>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/multipleQuestion.js"></script>
</body>
</html>